{% load static sass_tags %}
<!doctype html>
<html lang="fr">
 <head>
     <meta charset="utf-8">
     <title>{% block title %}{% endblock %}</title>
     <link rel="stylesheet" href="{% sass_src 'bootstrap-sass/assets/stylesheets/_bootstrap.scss'%}" >
 </head>
 <body>
    <div class="container">
        <div class="col-md-12">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
    <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}" charset="utf-8"></script>
    <script src="{% static "bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js" %}" charset="utf-8"></script>
 </body>
</html>
